/* Variables 

Variables are placeholders for starting information that you want to reuse throught your styles. You can store things 
like colours, font-families, or any css value you can think you might want to reuse.
SCSS uses the "$" symbol ti deckare variables*/

// Colours 
$pink: #FF8A8C;
$dark-pink: darken($pink, 5%);
	

$primary: $pink;
$secondary: #000000;
$white: #fff;

//Font family
$times: Times, serif;
