/* Variables 

Variables are placeholders for starting information that you want to reuse throught your styles. You can store things 
like colours, font-families, or any css value you can think you might want to reuse.
SCSS uses the "$" symbol ti deckare variables*/

// Colours 
$cream: #ece1c2;
$orange: #d58929;
$dark-orange: darken($orange, 20%);
	

$primary: $cream;
$secondary: #000000;
$white: #fff;

//Font family
$sans: "Helvetica Neue", sans-serif;
